---
layout: default
---

{% if page.photo %}
<div class="post-photo" style="background-image: url('/images/posts/{{ page.photo }}')">

</div>
{% endif %}

<article>
    <h1 class="inner">
        {{ page.title }}
    </h1>

    <p class="inner meta">
        {{ page.date | date: "%A %-d %B %Y" }} in {{ page.categories }} 
        {% for tag in page.tags %}
        <span class="label label-primary"><a href="/search/?tags={{ tag }}"  style="color:white">{{ tag | downcase }}</a></span>
        {% endfor %}
    </p>
    <div class="post">
        {{ content }}
    </div>
</article>

<div class="separator"></div>


<script>
 function resizeSlideshares() {
     var elements = document.getElementsByClassName("slideshare");
     for (var i in elements) {
         var element = elements[i];
         if (element.style) {
             element.style.height = (element.offsetWidth * 0.805) + 'px';
         }
     }
 }
 window.addEventListener("resize", resizeSlideshares);
 window.addEventListener('load', resizeSlideshares);
</script>